#body{
      height:100;
      display:flex;
      justify-content:center;
      align-items:center;

      }
#card{
      width:350px;
      padding:35px;
      border-radius:25px;
      text-align:center;

}
#avatar{
      width:120px;
      height:120px;
      border-radius:50%;
      border:4px solid #8b5cf6;
      object-fit:cover;
      margin-bottom:15px;
}
